language: ruby

sudo: required

os:
  - osx
  - linux

install:
  - unset DYLD_LIBRARY_PATH
  - if [ `uname` = "Linux" ]; then bash setup_travis_linux.sh; fi
  - if [ `uname` = "Linux" ]; then export PATH="$HOME/.linuxbrew/bin:$PATH"; fi
  - brew update
  - if [ `uname` = "Linux" ]; then brew install pkg-config; fi
  - brew update
  - brew tap homebrew/science
  # Install homebrew/cutest as tap.
  - mkdir -p $(brew --repo)/Library/Taps/optimizers
  - ln -s $PWD $(brew --repo)/Library/Taps/optimizers/homebrew-cutest
  - brew tap --repair

env:
  - PACKAGE=archdefs SINGLE="--without-single"
  - PACKAGE=sifdecode SINGLE="--without-single"
  - PACKAGE=cutest SINGLE="--without-single"
  - PACKAGE=mastsif SINGLE="--without-single"
  - PACKAGE=archdefs SINGLE=""
  - PACKAGE=sifdecode SINGLE=""
  - PACKAGE=cutest SINGLE=""
  - PACKAGE=mastsif SINGLE=""

script:
  #- brew audit $PACKAGE --strict  # Fails for now b/c head only.
  - brew install -v $PACKAGE $SINGLE --HEAD
  - brew test -v $PACKAGE

matrix:
  allow_failures:
    - env: PACKAGES=cutest SINGLE=""
